
.about-page-container {
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

}

.about-wrapper {
    display: grid;
    text-align: center;
    color: white;
}

.about-wrapper h1 {
    font-size: 3rem;
}
