.hp-container {
    display: flex;
    width: 100%;

}

.headline-wrapper {
width: 60%;
margin-left: 5rem;
margin-top: 10rem;


}
#hp-title {
    font-size: 9rem;
    color: #00c4cc;
    font-weight: light;
}

#hp-headline{
    font-size: 3rem;
    color: white;

}

#hp-subheadline {
    color: rgb(245, 235, 235);
}

.hp-image-wrapper {
width: 40%;
text-align: right;
}

#hp-image {
border-radius: 50%;
width: 450px;
height: fit-content;
border: 4px solid #00c4cc;
margin: 5rem;

}

#hp-try-btn {

    background-color: rgb(3, 248, 187);;
    text-align: center;
    width: 60%;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5rem;
    font-size: 30px;
    color: #ffffff;
    font-weight: light;
    cursor: pointer;
    
}

#hp-try-btn:hover {
    background-color: rgb(7, 224, 170);
}
