.profile-dropdown {
  position: absolute;
}

.nav-container ul{
list-style: none;
display: flex;
justify-content: space-around;
height: 100%;

}

.nav-container li,
.nav-container a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-top: 1rem;

}

.nav-container {
  width: 100%;
  border-bottom: 3px solid rgb(0, 0, 0);
  background-color: #3b103f;
  height: 4rem;



}

#menu-dropdown {
  font-size: 6vh;
  position: absolute;
  top: 0;
  right: 0;


}
