.profile-dropdown {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 4.2rem;
  right: 0;
  border-top: 3px solid black;
  border-left: 3px solid black;


}

#user-logged-in {
  display: block;
  padding: 5px;
}
#user-logged-in p {
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(132, 132, 151), 0 0 0.2em rgb(255, 0, 191);
  ;
}

#user-logged-in span {
  color: rgb(209, 19, 216);
}

#log-out-btn {
  width: 100%;
  background-color: rgb(233, 103, 211);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px;
  border-radius: 30px;
  border: 3px solid black;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(132, 132, 151), 0 0 0.2em rgb(255, 0, 191);
  cursor: pointer;
}

.user-cred-options li {
  cursor: pointer;
}


.user-cred-options li:hover {
  color: rgb(209, 19, 216);
}



.nav-container ul{
list-style: none;
display: flex;
justify-content: space-around;
height: 100%;

}

.nav-container li,
.nav-container a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-top: 1rem;
}



.nav-container {
  width: 100%;
  background-color: #000000;
  padding-bottom: 10px;




}

#menu-dropdown {
  font-size: 6vh;
  position: absolute;
  top: 0;
  right: 1rem;

}
