.profile-dropdown {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 4.2rem;
  right: 0;
  
}

.nav-container ul{
list-style: none;
display: flex;
justify-content: space-around;
height: 100%;

}

.nav-container li,
.nav-container a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-top: 1rem;

}

.nav-container {
  width: 100%;
  border-bottom: 3px solid rgb(255, 3, 255);
  background-color: #000000;
  height: 4rem;



}

#menu-dropdown {
  font-size: 6vh;
  position: absolute;
  top: 0;
  right: 1rem;



}
